* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
body {
  background-color: #171b22;
}
/* fade-slide */
.fade-leave-active,
.fade-enter-active {
  transition: all 0.3s;
}

.fade-enter-from {
  transform: translateX(30px);
  opacity: 0;
}

.fade-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}
